<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<!--TODO:script와 css는 절대경로로 하였음...이거 jstl처럼 c:url같은 것 없는지 조사 -->
		<script src="/js/lib/alopex/alopex_controller.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
	</head>
	<body>
		<div class="title-bar">
            Alopex by Drift!!!(this is ejs)
		</div>
		<div class="main-content">
		<%- body %>
		</div>
	</body>
</html>